<%= form_for(@cocktail) do |f| %>
  <% if @cocktail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cocktail.errors.count, "error") %> prohibited this cocktail from being saved:</h2>

      <ul>
      <% @cocktail.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :rating %><br>
    <%= f.number_field :rating,  :min => 0, :max => 20, :value =>10 %>
  </div>
  <div class="field">
    <%= f.label :component %><br>
    <%= select_tag :component, options_for_select(Ingredient.all.map {|i| [i.name, i.id]}) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>

  <a href="/ingredients/new">Vous voulez ajouter un ingrédient qui n'est pas dans la base de données ? Cliquez ici </a>
<% end %>
