<%= form_for(@cocktail) do |f| %>
  <% if @cocktail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cocktail.errors.count, "error") %> prohibited this cocktail from being saved:</h2>

      <ul>
      <% @cocktail.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, :size => "30x10" %>
  </div>
  <div class="field">
    <%= f.label :rating %><br>
    <%= f.number_field :rating,  :min => 0, :max => 20, :value =>10 %>
  </div>
  <div class="field">
  <%= f.label :component %><br>
  <table> 
    <tr>
    <td colspan="2">
    <%= select_tag :component, options_for_select(Ingredient.all.map {|i| [i.name, i.id]}) %>
    </td>
    <td>
    <input type="number" name="quantity" min="0">
    </td>
    </td>
    <td> 
     <button type="button" id="btn_add">Ajouter Ingrédient</button>
    </td>
    </tr>
    <tr>
    <td colspan="3">
    <fieldset>
      <select id="liste_ingr" multiple="multiple">
      </select>
    </fieldset>
    </td>
    <td>
    <button type="button" id="btn_rm">Enlever Ingrédient</button>
    </td>
    </table>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>

  <a href="/ingredients/new">Vous voulez ajouter un ingrédient qui n'est pas dans la base de données ? Cliquez ici </a>
<% end %>


<script>
  var liste_ingr = document.getElementById('liste_ingr');
  var btn_add = document.getElementById('btn_add');
  var btn_rm = document.getElementById('btn_rm');
  var component = document.getElementById('component');
  btn_add.onclick=function(){transfere(component,liste_ingr)}
  btn_rm.onclick=function(){transfere(liste_ingr,component)}

function transfere(source,destination){
  for(var i = source.options.length-1; i>=0; i--){
    if (source.options[i].selected){
       destination.options[destination.options.length]=source.options[i]
    }
  }
}
</script>