<h1>Liste des cocktails</h1>

<table>
  <thead>
    <tr>
      <th>Nom</th>
      <th>Description</th>
      <th>Note</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @cocktails.each do |cocktail| %>
      <tr>
        <td><%= cocktail.name %></td>
        <td><%= cocktail.description %></td>
        <td><%= cocktail.rating %> /20 </td>
        <td><%= link_to 'Détails', cocktail %></td> 
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Proposer une nouvelle recette', new_cocktail_path %>
<a href="/search_by_bar">Rechercher les cocktails que je peux faire avec le contenu de mon bar </a>