<div class="row">
<div class="col-lg-2"></div>
<div class="col-lg-8">

<span id="notice" class="label label-danger"><%= notice %></span>

	<div class="align"><h3><span class="label label-primary">Informations</span></h3></div>
	<ul class="list-group cocktail-list-item">
		<li class="list-group-item">
			<div class="row">
				<div class="col-lg-6">
					Nom: <%= @cocktail.name %>
				</div>
				<div class="col-lg-6" style="text-align:center">
					Difficulté: <%= @cocktail.rating %> /20
				</div>
			</div>
		</li>
		<li class="list-group-item"><%= @cocktail.description %></li>
	</ul>

	<div class="align"><h3><span class="label label-success">Ingrédients</span></h3></div>
	<ul class="list-group">
	<% @cocktail.components.each do |c| %>
		<li class="list-group-item">
			<%= c.ingredient.name %> : <%= c.quantity %> 
			<%if c.ingredient.type==2 %>
			g
			<% else %>
			cl
			<% end %>
		</li>	
	<% end %>
	</ul>

<div class="align">
	<div class="btn-group" role="toolbar">
	  <% if @cocktail.user == current_user %>
		<div class="btn btn-default"><%= link_to 'Supprimer ce cocktail', @cocktail, method: :delete, data: { confirm: 'Are you sure?' } %></div>
		<div class="btn btn-default"><%= link_to 'Modifier ce cocktail', edit_cocktail_path(@cocktail) %></div>
	  <% end %>
	  <div class="btn btn-default"><%= link_to 'Retour', cocktails_path %></div>
	</div>
</div>
	
<br/>

</div>
<div class="col-lg-2"></div>
</div>
