<p id="notice"><%= notice %></p>

<p>
  <strong>Nom :</strong>
  <%= @cocktail.name %>
</p>

<p>
  <strong>Description :</strong>
  <%= @cocktail.description %>
</p>

<p>
  <strong>Note :</strong>
  <%= @cocktail.rating %>
</p>
<p>
  <strong>Ingrédients :</strong>
  <% @cocktail.components.each do |c| %>
  <p> <%= c.ingredient.name %> </p>
  <p> <%= c.quantity %> </p>
  <% end %>
</p>

<%= link_to 'Edit', edit_cocktail_path(@cocktail) %> |
<%= link_to 'Back', cocktails_path %>
