<p id="notice"><%= notice %></p>

<p>
  <strong>Nom :</strong>
  <%= @cocktail.name %>
</p>

<p>
  <strong>Description :</strong>
  <%= @cocktail.description %>
</p>

<p>
  <strong>Note :</strong>
  <%= @cocktail.rating %>/20
</p>
<p>
  <strong>Ingrédients :</strong>
  <% @cocktail.components.each do |c| %>
  <p> <%= c.ingredient.name %> : <%= c.quantity %> 
  		<%if c.ingredient.type==2 %>
            g
        <% else %>
            cl
        <% end %>
  </p>
  
  <% end %>
</p>
<% if @cocktail.user == current_user %>
	<%= link_to 'Supprimer ce cocktail', @cocktail, method: :delete, data: { confirm: 'Are you sure?' } %><br/>
	<%= link_to 'Modifier ce cocktail', edit_cocktail_path(@cocktail) %>
<% end %>
<br/>
<%= link_to 'Retour', cocktails_path %>
