<div class="row">
<div class="col-lg-2"></div>
<div class="col-lg-8">

<div class="align"><h3><span class="label label-primary">Modifier la quantité de l'Ingrédient</span></h3></div></br>

<%= form_for(@bar) do |f| %>
	<% if @bar.errors.any? %>
		<div id="error_explanation">
			<h4>
				<span class="label label-warning"><%= pluralize(@bar.errors.count, "erreur(s)") %> ont empéché la modification</span>
			</h4>

			<ul>
				<% @bar.errors.full_messages.each do |msg| %>
					<li>
						<span class="label label-danger"><%= msg %></span>
					</li>
				<% end %>
			</ul>
		</div>
	<% end %>

		
	<div class="input-group smoothlayout">
		<%= f.number_field :quantity ,:min => 0, :class=>"form-control vertical-align", :placeholder=>"Quantité (cl/gr)" %>
		<div class="input-group-btn">
			<%= f.submit :class=>"btn btn-default", :style=>"margin-bottom:0px", :id=>"edit-bar-button" %>
		</div>
	</div>
 </br>
  
  <div class="actions">
    
  </div>

<% end %>

</div>
<div class="col-lg-2"></div>
</div>

<script>
	$('#edit-bar-button').attr('value', "Enregistrer la modification");
</script>

<%= link_to 'Show', @bar %> |
<%= link_to 'Back', bars_path %>
