<h1>Mon Bar :</h1>

<table>
  <thead>
    <tr>
      <th>Ingrédient :  </th>
      <th>Quantité :</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @bars.each do |bar| %>
      <% if bar.user == current_user %>
      <tr>
        <td><%= bar.ingredient.name %></td>
        <td><%= bar.quantity %> 
            <%if bar.ingredient.type==2 %>
            g
            <% else %>
            cl
            <% end %>
       </td>

        <td><%= link_to 'Modifier quantité', edit_bar_path(bar) %></td>
        <td><%= link_to 'Supprimer ingrédient', bar, method: :delete, data: { confirm: 'Etes-vous certain de vouloir supprimer cet ingrédient de votre bar ?' } %></td>
      </tr>
      <%- end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Ajouter un ingrédient dans mon bar', new_bar_path %>
