<p id="notice"><%= notice %></p>

<p>
  <strong>Ingrédient :</strong>
  <%= @bar.ingredient.name %>
</p>

<p>
  <strong>Quantité :</strong>
  <%= @bar.quantity %>
</p>

<%= link_to 'Edit', edit_bar_path(@bar) %> |
<%= link_to 'Back', bars_path %>
